{
  "arrowParens": "always",
  "printWidth": 120,
  "trailingComma": "all",
  "tabWidth": 4,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.js",
      "options": {
        "parser": "flow",
        "printWidth": 80
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown"
      }
    },
    {
      "files": "*rc",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.yaml",
      "options": {
        "parser": "yaml"
      }
    },
    {
      "files": "*.yml",
      "options": {
        "parser": "yaml"
      }
    }
  ]
}
